# Virtual Environment
.venv/
venv/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# PyCharm
.idea/

# Environment Variables
.env

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build Files
build/
dist/
*.egg-info/

# Windows
Thumbs.db

# macOS
.DS_Store